.title {
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}

.cart {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 20px;

	&__items {
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
		gap: 20px;
		max-height: 55vh;
		overflow-y: scroll;
		border-radius: 30px;

		&::-webkit-scrollbar{
			display: none;
		}
	}

	&__total {
	}

	@media (max-width: 800px) {
		& {
			justify-content: center;
			margin-bottom: 20px;
		}
	}
}