@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700);

html{
  height: 100%;
}

body {
  margin: 0;
  font-family: Montserrat,
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #EAEAEA;
}
 
* {
  font-family: Montserrat;
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex: 1 1 auto;
  }

}